{% set module = module %}

<section class="about-section-text">
    <div class="container">
        <h3 class="font-weight-bold">{{module.titleConsortium}}</h3>
        <p>{{module.description}}</p>
    </div>
</section>