{% set module = module %}

<section class="about-section-text">
    <div class="container">
        <h3 class="font-weight-bold">{{module.titleNetwork}}</h3>
        <p>{{module.descriptionNetwork}}</p>
    </div>
</section>

<!-- Karta je samo placeholder za sada -->
<div class="container-fluid"><img src="assets/img/png/karta.png" alt="" style="width: 100%"></div>
