{% set module = module %}

<section class="about-section-text">
    <div class="container">
        <h3 class="font-weight-bold">{{module.titleAbout|slice(0, 8)}}<span class="d-inline-block">{{module.titleAbout|slice(8, 20)}}</span></h3>
        <p>{{module.descriptionAbout}}</p>
    </div>
</section>